<!DOCTYPE html>
<html>
<head>
    <title>Listado de Libros</title>
    <!-- Agrega las referencias a los archivos CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Listado de Libros</h1>
    <ul class="list-group mt-3">
        {% for libro in libros %}
            <li class="list-group-item">{{ libro.titulo }}</li>
        {% empty %}
            <li class="list-group-item">No hay libros disponibles.</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
